.list-main {
  background: url("list_home.jpg") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* .list-main > a {
  position: absolute;
} */

.list-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  height: 80vh;
  margin-top: 3.5em;
  overflow-y: scroll;
}

#lists-return {
  padding: 10px;
  color: black;
  text-decoration: none;
  /* font-weight: bolder; */
  display: flex;
  align-items: center;
}

#lists-return span {
  font-weight: 900;
  padding-left: 2px;
}

#del-list-btn {
  position: relative;
  right: -40%;
  border: none;
  font-size: 1em;
  background-color: transparent;
  color: rgb(224,66,55);
  opacity: .5;
}

#del-list-btn:hover {
  font-size: 1.1em;
  font-weight: 900;
  margin-bottom: -.15em;
  opacity: 1;
}

.list-name {
  font-size: 1.7em;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(250, 238, 146);
  text-align: center;
  margin-bottom: 1.5em;
}

.list-name:focus {
  outline: 0;
}

#new-task-btn {
  position: absolute;
  top: 1.5em;
  left: 3em;
  font-size: 2em;
  height: 4em;
  width: 9em;
  transform: rotate(332deg)
}

#new-task-btn:hover {
  font-weight: 900;
}

#new-task-btn:focus {
  outline: 0;
}




/* TASKS */
.list-task-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.task-form-div {
  border: 1px solid rgb(250, 238, 146);
  background-color: rgb(254, 243, 153);
  margin: 1em;
  width: 15em;
  height: 15em;
  /* height: 0;
  padding-bottom: 15em;  */
  overflow-y: scroll;
}

.task-form-div > form {
  display: flex;
  flex-direction: column;

}

.task-form-div > form > button:first-of-type {
  position: relative;
  width: 25px;
  background-color: transparent;
  line-height: 2ch;
  margin: 5px;
  border: 1px solid black;
  padding: 1px;
}

.task-form-div span {
  margin-left: 3px;
}

.task-form-div input, .task-form-div textarea {
  border: none;
  background-color: transparent;
  border-bottom: .5px solid rgb(16, 15, 15);
  font-size: 1em;
  width: 75%
}

.task-form-div input:focus, .task-form-div textarea:focus {
  outline: 0;
  background-color: rgb(254, 247, 183);
}

.task-form-div textarea {
  width: 91%;
  margin-left: 7px;
  font-size: .75em;
  background-image: linear-gradient(transparent, transparent calc(3ch - 1px), rgb(157, 155, 155) 0px);
  line-height: 3ch;
  background-size: 100% 3ch;
  margin-bottom: 7px;
  border-bottom: none;
}

.task-comments-list {
  width: 75%;
  margin: 5px 0;
}

.task-comments-list > div {
  display: flex;
  justify-content: space-between;
}

.task-comments-list > div > button {
  background-color: transparent;
  opacity: .6;
  border: none;

}

.task-comments-list > div > button:hover {
  opacity: 1;
  background-color: yellow;
}



.add-comment-input {
  background-color: transparent;
  opacity: .6;
  border: none;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: .9em;
}

.add-comment-input:hover {
  opacity: 1;
  font-weight: bolder;
}

.task-save-del-buttons {
  display: flex;
  justify-content: space-between;
}






/* TASK RELATED BUTTONS */
.list-task-wrapper button {
  background-color: transparent;
  border: none;
}
