body {
  margin: 0;
}

// FONTS
* {
  font-family: 'Barlow', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

button {
  cursor: pointer;
}


// Errors 
[class*="error"] {
  color: rgb(224,66,55);
}

