/* SESSION FORM */

.session-main {
  background: url("session2.jpg")  no-repeat center center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-wrapper {
  margin: 0 auto;
  min-height: 60%;
  min-width: 30%;
}

.session-wrapper h1 {
  margin-top: .2em;
  margin-bottom: .75em;
}

.session-wrapper h4 {
  margin-bottom: 0;
}

.session-wrapper p {
  margin-bottom: .3em;
  margin-top: 1.3em;
}

.session-wrapper input {
  border: none;
  width: 90%;
  height: 2em;
  border-bottom: .2em solid rgb(233,222,229);
  margin-bottom: -.2em;
}

.session-wrapper input:hover {
  border-bottom: .2em solid rgb(140, 86, 45);
  /* margin-bottom: -.2em; */
}

.session-wrapper input:focus {
  outline: 0;
}

.session-submit {
  width: 91%;
  height: 2em;
  margin: 1em 0;
  border: none;
  border-radius: 1px;
  background-color:rgb(236, 214, 204);
}

.session-submit:hover {
  background-color: rgb(140, 86, 45);
}

.session-submit:focus {
  outline: none;
}

/* .session-alt-div {
  margin: 0 auto;
  width: 90%;
} */

.session-alt-button {
  border: none;
  color: rgb(140, 86, 45);
  font-size: 1em;
  text-align: center;
}

.session-alt-button:focus {
  outline: none;
}

.demo-login {
  position: relative;
  bottom: -21px;
  right: -230px;
}


/* errors */
p[class*="session-error"] {
  /* color: rgb(224,66,55); */
  margin-top: .3em;
  overflow-wrap: normal;
  max-width: fit-content;
  font-size: .85em;
}

[class*="session-error"]:first-of-type {
  padding-top: 1em;
}




.self-links-session {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%);
}

.self-links-session a {
  color: rgb(140, 86, 45);
  font-size: 1.5em;
  padding: 3px;
  bottom: 3vh;
  position: relative;
  animation: wave 4s linear infinite;
}

.self-links-session a:first-child { animation-delay: 0s}
.self-links-session a:nth-child(2) { animation-delay: .3s}
.self-links-session a:nth-child(3) { animation-delay: .6s}

@keyframes wave {
  0%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% { bottom: 3vh }
  10% { bottom: 6vh }
}