.user-main {
  background: url("user.jpg")  no-repeat center center;
  width: 100vw;
  height: 100vh;
  /* background-size: cover; */
}

.user-main > h1 {
  text-align: right;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}


.user-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

[class*="list-ele"] {
  border: 2px solid gray;
  border-radius: 4px;
  width: 13em;
  margin: 1em 1em;
  background-color: whitesmoke;
  height: 15em;
  overflow-y: scroll;
}

[class*="list-ele"]:hover {
  cursor: pointer;
}



.list-ele-new {
  opacity: .8;
}

.list-ele-new:hover {
  opacity: 1;
}



/* LISTS */
.user-wrapper p {
  text-align: center;
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: bolder;
}

.user-wrapper li {
  margin-top: .2em;
  margin-bottom: .2em;
  font-size: 1.1em;
}

.user-wrapper a {
  text-decoration: none;
  color: black;
}