.user-main {
  background: url("user.jpg")  no-repeat center center;
  width: 100vw;
  height: 100vh;
  /* background-size: cover; */
}


.user-wrapper {
  display: flex;
  justify-content: space-evenly;
}

[class*="list-ele"] {
  border: 2px solid gray;
  border-radius: 4px;
  width: 20%;
  margin: 0 1em;
  background-color: whitesmoke;
  /* height: 3em; */
}

.list-ele-new {
  opacity: .7;
}